# Задание 1_Pandas

In [1]:
import numpy as np
import pandas as pd

In [2]:
data = {'Surname': ['Ivanov', 'Petrov', 'Sidorov', 'Ivanova', 'Karpov', 'Hill', 'Boni', 'Mitchell', 'Onio', 'Lavrov'],
        'age': [42, 33, 55, np.nan, 65, 23, 25, np.nan, 27, 37],
        'visits': [1, 3, 2, 3, 2, 3, 1, 1, 2, 1],
        'priority': ['yes', 'yes', 'no', 'yes', 'no', 'no', 'no', 'yes', 'no', 'no']}

labels = [1,2....]

#### 0. Создать датафрейм.

#### 1. Вывести информацию о датафрейме.

#### 2. Вернуть первые 3 строки DataFrame `df`.

#### 3. Выберите только столбцы 'Surname' и 'age' из DataFrame `df`.

#### 4. Выберите данные в строках `[3, 4, 8]` * и * в столбцах `['Surname', 'age']`.

#### 5. Выберите строки где количество посещений банка больше 3.

#### 6. Выберите строки, в которых отсутствует возраст.

#### 7. Выберите строки, в которых клиент был больше 2х раз в банке * и * возраст составляет более 30 лет.

#### 8. Выберите строки в которых возраст от 55 до 65 (включительно).

#### 9. Измените возраст в строке '4' на 44.

#### 10. Рассчитать общее количество всех посещений.

#### 11. Расчитайте средний возраст клиентов

#### 12. Добавьте новую строку `k` к `df` со значениями по вашему желанию. Затем удалите ее.

#### 13. Сортируйте `df` сначала по значениям в 'age' в * возрастающем * порядке, затем по значениям в столбце 'visit' в * возрастающем * порядке.

#### 14. В столбце приоритет замените значения на `Yes` и `No`

#### 15. Предположим, у вас есть DataFrame с 10 столбцами действительных чисел, например:

```python
df = pd.DataFrame (np.random.random (size = (5, 10)), columns = список ('abcdefghij'))
```
#### Какой столбец имеет наименьшую сумму? Найдите метку этого столбца.

#### 16. Замените все пропущенные значения, на среднее по столбцу
```python
df = pd.DataFrame({'group': list('aabbabbbabab'),
                       'value': [1, 2, 3, np.nan, 2, 3, 
                                 np.nan, 1, 7, 3, np.nan, 8]})
```

#### 17. Создайте два новых столбца, для From и To. Приведите названия городов к нормальному виду.

```python
df = pd.DataFrame({'From_To': ['LoNDon_paris', 'MAdrid_miLAN', 'londON_StockhOlm', 
                               'Budapest_PaRis', 'Brussels_londOn'],
              'FlightNumber': [10045, np.nan, 10065, np.nan, 10085],
              'RecentDelays': [[23, 47], [], [24, 43, 87], [13], [67, 32]],
                   'Airline': ['KLM(!)', '<Air France> (12)', '(British Airways. )', 
                               '12. Air France', '"Swiss Air"']})
```

#### 23. Загрузить свою таблицу данных(из реферата, курсовой, из сайта статистических данных). 

Выполните действия с таблицей:

Загрузите таблицу из файла и сохраните ее в переменную df. Используйте функцию read_

Выведите общую информацию по таблице: число строк и столбцов, типы данных в таблице. 

Есть ли в таблице пропущенные значения?

Если в таблице есть строки с пропущенными значениями, удалите их.

Сохраните изменения в df.

Выведите на экран описательные статистики по всем количественным переменным в таблице. 

Выберите какой-нибудь интересующий вас столбец и проинтерпретируйте описательные статистики по нему (т.е. опишите «обычными» словами, что значат значения типа min, std, 50% и так далее).


Переименуйте какие-нибудь столбцы в таблице (хотя бы один, можно несколько) и сохраните изменения в df.

Добавьте новые столбцы.

ссылки на сайты стат данных

    
https://data.gov.ru/taxonomy/term/9/datasets
    
http://sophist.hse.ru/rstat/

можно взять данные из задач 

https://github.com/hightemp/docNN/blob/b96f37611dd3ebdd5b2269e04582683af74b8340/articles/%D0%9F%D1%80%D0%B8%D0%BC%D0%B5%D0%BD%D0%B5%D0%BD%D0%B8%D0%B5%20%D0%BC%D0%B0%D1%88%D0%B8%D0%BD%D0%BD%D0%BE%D0%B3%D0%BE%20%D0%BE%D0%B1%D1%83%D1%87%D0%B5%D0%BD%D0%B8%D1%8F%20%D0%B8%20Data%20Science%20%D0%B2%20%D0%BF%D1%80%D0%BE%D0%BC%D1%8B%D1%88%D0%BB%D0%B5%D0%BD%D0%BD%D0%BE%D1%81%D1%82%D0%B8.md